<%= form_for(@catlog, html: { class: "form-horizontal", role: "form" }) do |f| %>

  <%# Alert showing errors for this form %>
  <% if @catalog.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@catalog.errors.count, "error") %> prohibited this test from being saved:</h4>

      <ul>
      <% @catalog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :procedure_id, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.number_field :procedure_id %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :procedure_name, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.text_field :procedure_name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :procedure_master_number, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.text_field :procedure_master_number %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :synonyms, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.text_field :synonyms %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :test_code, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.text_field :test_code %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category_code, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.number_field :category_code %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category_name, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.text_field :category_name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :eppicare_inactive_flag, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.check_box :eppicare_inactive_flag %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :orderable, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.check_box :orderable %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :collection_id, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f. number_field :collection_id %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :collection_name, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.text_field :collection_name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :collection_instruction, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.text_field :collection_instruction %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :process_id, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.number_field :process_id %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :process_name, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.text_field :process_name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :process_instruction, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.text_field :process_instruction %>
    </div>
  </div>
<% end -%>
