<% if logged_in? %>
  <i class="fa fa-3x fa-bookmark-o pull-right" aria-hidden="true"></i>
  <%= link_to edit_test_path, class: 'btn btn-primary pull-right' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
<% end %>
<%= link_to root_path, class: 'btn btn-default pull-right' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
  <h1><%= @test.procedure_name %></h1>


<dl class="dl-horizontal col-md-10">
  <dt>Procedure identifier:</dt>
  <dd><%= @test.procedure_identifier %></dd>

  <dt>Procedure master number:</dt>
  <dd><%= @test.procedure_master_number %></dd>

  <dt>Synonyms:</dt>
  <dd><%= @test.synonyms %></dd>

  <dt>Test code:</dt>
  <dd><%= @test.test_code %></dd>

  <dt>Category code:</dt>
  <dd><%= @test.category_code %></dd>

  <dt>Category name:</dt>
  <dd><%= @test.category_name %></dd>

  <dt>Eppicare inactive flag:</dt>
  <dd><%= @test.eppicare_inactive_flag %></dd>

  <dt>Orderable:</dt>
  <dd><%= @test.orderable %></dd>

  <dt>Collection identifier:</dt>
  <dd><%= @test.collection_identifier %></dd>

  <dt>Collection name:</dt>
  <dd><%= @test.collection_name %></dd>

  <dt>Collection instructions:</dt>
  <dd><%= @test.collection_instructions %></dd>

  <dt>Process identifier:</dt>
  <dd><%= @test.process_identifier %></dd>

  <dt>Process name:</dt>
  <dd><%= @test.process_name %></dd>

  <dt>Process intructions:</dt>
  <dd><%= @test.process_intructions %></dd>

</dl>
