<% if logged_in? %>
  <span class="btn btn-default favorite-test pull-right glyphicon glyphicon-save <%= favorited_class(@test, current_user) %>" data-test-id="<%= @test.id %>">Save</span>
  <%= link_to edit_test_path, class: 'btn btn-primary pull-right' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
<% end %>
<%= link_to root_path, class: 'btn btn-default pull-right' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
  <h1><%= @test.procedure_name %></h1>


<dl class="dl-horizontal col-md-10">

  <% if @test.image_url %>
    <dd><%= image_tag(@test.image_url) %></dd>
  <% else %>
    <dd><%= image_tag("stock.jpg") %></dd>
  <% end %>

  <dt>Synonyms:</dt>
  <dd><%= @test.synonyms %></dd>

  <dt>Test code:</dt>
  <dd><%= @test.test_code %></dd>

  <dt>Collection instructions:</dt>
  <dd><%= @test.collection_instructions %></dd>

  <dt>Process intructions:</dt>
  <dd><%= @test.process_intructions %></dd>

</dl>
