<div class="page-header">
  <%= link_to tests_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_test_path(@test), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show test</h1>
</div>

<dl class="dl-horizontal">
  <dt>Procedure identifier:</dt>
  <dd><%= @test.procedure_identifier %></dd>

  <dt>Procedure name:</dt>
  <dd><%= @test.procedure_name %></dd>

  <dt>Procedure master number:</dt>
  <dd><%= @test.procedure_master_number %></dd>

  <dt>Synonyms:</dt>
  <dd><%= @test.synonyms %></dd>

  <dt>Test code:</dt>
  <dd><%= @test.test_code %></dd>

  <dt>Category code:</dt>
  <dd><%= @test.category_code %></dd>

  <dt>Category name:</dt>
  <dd><%= @test.category_name %></dd>

  <dt>Eppicare inactive flag:</dt>
  <dd><%= @test.eppicare_inactive_flag %></dd>

  <dt>Orderable:</dt>
  <dd><%= @test.orderable %></dd>

  <dt>Collection identifier:</dt>
  <dd><%= @test.collection_identifier %></dd>

  <dt>Collection name:</dt>
  <dd><%= @test.collection_name %></dd>

  <dt>Collection instructions:</dt>
  <dd><%= @test.collection_instructions %></dd>

  <dt>Process identifier:</dt>
  <dd><%= @test.process_identifier %></dd>

  <dt>Process name:</dt>
  <dd><%= @test.process_name %></dd>

  <dt>Process intructions:</dt>
  <dd><%= @test.process_intructions %></dd>

</dl>
