<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>
    <%= Rails.application.class.parent_name %>
  </title>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
   <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="controller-<%= controller_name%> action-<%= action_name%>">
  <nav class="navbar navbar-fixed-top" role="navigation">
   <div class="container">
    <div class="navbar-header">
      <%= link_to image_tag("logo.png", :alt => "ELCG Logo", size: "150x50"), root_path %>
    </div>
    <div id="navbar" class="collapse navbar-collapse pull-right">
      <% if logged_in? %>
        <div class="dropdown" id="dropdown-nav">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Welcome: <%= current_user.name %> <span class="caret"></span></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><%= link_to "Logout", logout_path %></li>
          </ul>
        </div>
       <% else %>
        <ul class="nav navbar-nav pull-right">
          <li class="active"><%= link_to "Register", signup_path %></li>
          <li class="active"><%= link_to "Log In", login_path %></li>
        </ul>
       <% end %>
    </div>
   </div>
  </nav>

  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= msg %>
      <% end %>
    <% end %>

    <div class="row">
      <div id="search_sidebar" class="column col-xs-12 col-md-2">
        <h2>Search Database</h2>
        <div id="search_form">
          <%= form_tag(tests_path, method: "GET", class: "search-form") do%>
            <div id="search_text" class="form-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
            </div>
          <% end %>
        </div>

        <div id="test_search">
          <h4 class="active tab tab-control" id="test_name">Test Name</h4>
          <ul class="active tab tab-panel">
            <% ('A'..'Z').each do |letter| %>
              <li>
                <%= link_to letter, tests_path(starts_with: letter)  %>
              </li>
            <% end %>
            <li>
              <%= link_to "#", tests_path(starts_with: "#" )  %>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-10">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
